<?xml version="1.0"?>
<model>
  <name>simple_library</name>
  <version>1.0</version>
  <sdf version="1.6">simple_library.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    A simple library model for Gazebo.
  </description>
</model>
